html {
  box-sizing: border-box;
  font-family: var(--font-arimo), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #0e0012;
  color: #ffffff;
  max-width: 1400px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.main-app {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0rem 1rem;
  overflow: hidden;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 100;
  position: sticky;
  top: 0;
  margin: 0 1rem;
  background-color: rgba(14, 0, 18, 0.95);
  backdrop-filter: blur(5px);
}

.navbar-header .navbar-aside {
  width: auto;
  height: auto;
}

.navbar-header .navbar-aside img {
  width: 70px;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.navbar-header .navbar-aside img:hover {
  transform: scale(1.1);
}

.navbar-header button {
  display: none;
}

.navbar-header .navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: fit-content;
}

.navbar-header .navbar-nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-header .navbar-nav ul a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 200ms ease, color 200ms ease;
  width: fit-content;
  text-wrap: nowrap;
}

.navbar-header .navbar-nav ul a:hover {
  transform: scale(1.1);
  color: #ec5cff;
}

.navbar-header .navbar-nav .navbar-nav-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-header .navbar-nav .navbar-nav-social a {
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

.navbar-header .navbar-nav .navbar-nav-social a:hover {
  transform: scale(1.1);
  color: #ec5cff;
}

.hero-container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #0e0012;
  background: linear-gradient(to bottom, #0e0012 75%, rgba(71, 27, 77, 0.2));
}

.hero-container .hero-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

.hero-container .hero-container-top .hero-container-top-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0.5rem;
  gap: 1rem;
}

.hero-container .hero-container-top .hero-container-top-left h1 {
  font-family: var(--font-dmSerifDisplay), sans-serif;
  font-size: 4rem;
  letter-spacing: 1px;
}

.hero-container .hero-container-top .hero-container-top-left h1 span {
  font-family: var(--font-dmSerifDisplay), sans-serif;
  color: #ec5cff;
  font-size: 2rem;
  display: block;
  letter-spacing: 1.5px;
}

.hero-container .hero-container-top .hero-container-top-left p {
  line-height: 24px;
  margin: 0;
  width: 60%;
  flex-grow: 0;
  text-wrap: pretty, balance;
}

.hero-container .hero-container-top .hero-container-top-left a {
  margin-top: 2rem;
  background-color: #220d24;
  color: #ffffff;
  text-align: center;
  min-width: 35%;
  max-width: 35%;
  border: 2px solid #ec5cff;
  border-radius: 5rem;
  padding: 0.8rem 0;
  font-family: var(--font-arimo);
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 200ms ease, background-color 200ms ease;
}

.hero-container .hero-container-top .hero-container-top-left a:hover {
  background-color: #ec5cff;
  transform: scale(1.05);
}

.hero-container .hero-container-top .hero-container-top-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.hero-container .hero-container-top .hero-container-top-right img {
  width: 440px;
  transition: all 200ms ease-in-out;
}

.hero-container .hero-container-top .hero-container-top-right img:hover {
  filter: grayscale(1);
  transform: scale(1.05);
}

.section-container {
  margin: 2rem 0;
  width: 100%;
  scroll-margin-top: 5rem;
}

.section-container .section-title {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: .5rem;
  padding: 1rem;
}

.projects-card {
  width: 100%;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  position: relative;
  transition: transform 200ms ease-out;
}

.projects-card:hover {
  transform: scale(1.05);
  z-index: 50;
}

.projects-card:first-child {
  grid-column: 1 / 3;
}

.projects-card:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.projects-card:nth-last-child(7) {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.projects-card:last-child {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.projects-card .projects-card-img {
  aspect-ratio: auto;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projects-card .projects-card-img a {
  text-decoration: none;
}

.projects-card .projects-card-img a span {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
}

.projects-card .projects-card-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  z-index: 5;
}

.projects-card .projects-card-info.is-active {
  opacity: 1;
  visibility: visible;
}

.projects-card .projects-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;
  padding-left: 1rem;
  text-wrap: pretty, balance;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  position: absolute;
  width: auto;
  left: -4px;
  right: -4px;
  top: -1px;
  bottom: -1px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  border-radius: 0.5rem;
}

.projects-card .projects-card-info h3 {
  color: #ec5cff;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}

.projects-card .projects-card-info p {
  width: 100%;
  line-height: 24px;
  padding-right: 1rem;
  flex-grow: 0;
  text-wrap: pretty, balance;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 0.9rem;
}

.projects-card .projects-card-info footer {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.projects-card .projects-card-info footer a {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 0 1rem;
  border: 1px solid #ffffff;
  border-radius: 5rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 200ms ease-in-out, transform 200ms ease-in-out, background-color 200ms ease-in-out;
  text-wrap: pretty, balance;
  letter-spacing: 0.5px;
}

.projects-card .projects-card-info footer a:hover {
  transform: scale(1.05);
  color: #000000;
  background-color: #ffffff;
}

.projects-card .projects-card-info footer a svg {
  width: 20px;
}

.about-me-container {
  background: linear-gradient(to bottom, #82e8cc, #ec5cff);
  border-radius: 0.5rem;
  padding: 2px 2px 0px 2px;
}

.about-me-container section {
  padding: 1rem 0;
  background-color: #0e0012;
  border-radius: .5rem .5rem 0rem 0rem;
  width: 100%;
}

.about-me-container p {
  margin: 0 auto;
  padding: 0.7rem 1rem;
  line-height: 24px;
  width: 50%;
  height: 100%;
  text-wrap: pretty;
}

.about-me-container p span > a {
  color: #ec5cff;
  font-weight: bold;
  text-decoration: none;
}

.tech-stack-container {
  width: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(to top, #82e8cc, #ec5cff);
  padding: 0px 2px 2px 2px;
}

.tech-stack-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e0012;
  border-radius: 0rem 0rem .5rem .5rem;
  padding: 1rem;
}

.tech-stack-container .tech-stack {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.tech-stack-container svg {
  color: #ffffff;
  width: 32px;
  height: 32px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.tech-stack-container .html-icon svg {
  color: #e44d26;
}

.tech-stack-container .css-icon svg {
  color: #2299f8;
}

.tech-stack-container .javascript-icon svg {
  color: #f0dc4e;
}

.tech-stack-container .react-icon svg {
  color: #61dbfb;
}

.tech-stack-container .typescript-icon svg {
  color: #2d79c7;
}

.tech-stack-container .sass-icon svg {
  color: #cd669a;
}

.tech-stack-container .tailwind-icon svg {
  color: #38bdf8;
}

.tech-stack-container .nextjs-icon svg {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #000000;
}

.tech-stack-container .node-icon svg {
  color: #43853d;
}

.tech-stack-container .mysql-icon svg {
  color: #007195;
}

.footer-container {
  background: linear-gradient(to bottom, #0e0012 -10%, #471b4d);
  border-radius: 0.5rem;
  width: 100%;
  height: 15rem;
  display: flex;
  margin-top: 5rem;
}

.footer-container .footer-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-info div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.footer-container .footer-info div a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  gap: 0.5rem;
  transition: transform 200ms ease-in-out;
}

.footer-container .footer-info div a:hover {
  transform: scale(1.05);
}

.footer-container .footer-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-logo img {
  width: 130px;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.footer-container .footer-logo img:hover {
  transform: scale(1.1);
}

@media (max-width: 1023px) {
  a,
  p {
    font-size: 0.9rem;
  }
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: #0e0012;
  }
  .navbar-header .navbar-aside {
    width: auto;
    height: auto;
  }
  .navbar-header .navbar-aside img {
    width: 50px;
    height: auto;
    transition: none;
  }
  .navbar-header .navbar-aside img:hover {
    transform: scale(1);
  }
  .navbar-header button {
    display: block;
    background-color: transparent;
    border: none;
    color: #ffffff;
  }
  .navbar-header .navbar-nav {
    background-color: #0e0012;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
    transition: transform 200ms ease-in-out;
    transform: translateX(100%);
    padding-top: 1rem;
  }
  .navbar-header .navbar-nav.is-active {
    transform: translateX(0);
  }
  .navbar-header .navbar-nav ul {
    width: 100%;
    padding: 0;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #0e0012;
  }
  .navbar-header .navbar-nav ul a {
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav ul a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .navbar-header .navbar-nav .navbar-nav-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background-color: #0e0012;
    padding-top: 3rem;
  }
  .navbar-header .navbar-nav .navbar-nav-social a {
    color: #ffffff;
    fill: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav .navbar-nav-social a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 6rem;
  }
  .hero-container .hero-container-top {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-container .hero-container-top .hero-container-top-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 {
    font-family: var(--font-dmSerifDisplay), sans-serif;
    font-size: 2.3rem;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 span {
    color: #ec5cff;
    font-size: 1.7rem;
    display: block;
  }
  .hero-container .hero-container-top .hero-container-top-left p {
    line-height: 22px;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
  }
  .hero-container .hero-container-top .hero-container-top-left a {
    background-color: #0e0012;
    color: #ffffff;
    text-align: center;
    min-width: 30%;
    border: 1px solid #ec5cff;
    border-radius: 5rem;
    padding: 0.8rem 1rem;
    font-family: var(--font-arimo);
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-left a:hover {
    background-color: #0e0012;
  }
  .hero-container .hero-container-top .hero-container-top-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
  }
  .hero-container .hero-container-top .hero-container-top-right img {
    width: 100%;
    max-width: 350px;
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-right img:hover {
    transform: none;
  }
  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;
  }
  .section-container .section-title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-container .section-title h2 {
    font-size: 1.1rem;
  }
  .projects-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem;
  }
  .projects-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 0rem;
    transition: transform 200ms ease-out;
    background-color: #0e0012;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .projects-card:hover {
    transform: scale(1);
    z-index: 50;
  }
  .projects-card .projects-card-img {
    width: 100%;
    position: relative;
  }
  .projects-card .projects-card-img a {
    text-decoration: none;
  }
  .projects-card .projects-card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0rem;
  }
  .projects-card .projects-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    text-wrap: pretty, balance;
    background-color: #0e0012;
    backdrop-filter: blur(0);
    position: relative;
    width: 100%;
    left: 0px;
    right: 0px;
    top: -5px;
    bottom: 0px;
    opacity: 1;
    visibility: visible;
    transition: none;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    border-left: 1px solid #ec5cff;
    border-right: 1px solid #ec5cff;
    box-shadow: 0px 10px #ec5cff;
  }
  .projects-card .projects-card-info h3 {
    color: #ec5cff;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
  }
  .projects-card .projects-card-info p {
    width: 100%;
    line-height: 24px;
    padding-right: 1rem;
    flex-grow: 1;
    text-wrap: pretty, balance;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: 0.9rem;
  }
  .projects-card .projects-card-info footer {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    gap: 1rem;
  }
  .projects-card .projects-card-info footer a {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 0 1rem;
    border: 1px solid #ffffff;
    border-radius: 5rem;
    text-decoration: none;
    color: #ffffff;
    transition: color 200ms ease-in-out, transform 200ms ease-in-out, background-color 200ms ease-in-out;
    text-wrap: pretty, balance;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
  }
  .projects-card .projects-card-info footer a:hover {
    transform: scale(1);
    color: #000000;
    background-color: #ffffff;
  }
  .projects-card .projects-card-info footer a svg {
    width: 20px;
  }
  .tech-stack-container .tech-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
  }
  .about-me-container p {
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    line-height: 24px;
    width: 100%;
  }
  .footer-container {
    background: linear-gradient(to bottom, #0e0012 -10%, #471b4d);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0rem;
    padding: 2rem 0;
  }
  .footer-container .footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-info div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer-container .footer-info div a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    gap: 0.5rem;
    transition: none;
  }
  .footer-container .footer-info div a:hover {
    color: #ffffff;
    transform: scale(1);
  }
  .footer-container .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-logo img {
    width: 80px;
    height: auto;
    transition: none;
  }
  .footer-container .footer-logo img:hover {
    transform: scale(1);
  }
}
