// VARIABLES
$background-color: #0e0012;
$second-color: #ec5cff;
$third-color: #82e8cc;
$white-color: #ffffff;
$black-color: #000000;
$border-card: #471b4d;
$border-about-me: #00674c;
$html-color: #e44d26;
$css-color: #2299f8;
$javascript-color: #f0dc4e;
$typescript-color: #2d79c7;
$sass-color: #cd669a;
$tailwind-color: #38bdf8;
$react-color: #61dbfb;
$node-color: #43853d;
$mysql-color: #007195;

@mixin hover-scale {
  transform: scale(1.1);
}

@font-face {
  font-family: 'HKGroteskWide';
  src: url('../../public/fonts/HKGroteskWide-Black.woff2');
  font-display: swap;
  font-weight: 900;
}

// RESET
html {
  box-sizing: border-box;
  font-family:
    var(--font-poppins),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $background-color;
  color: $white-color;
  max-width: 1280px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

// MAIN APP
.main-app {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0rem 1rem;
  overflow: visible;
}

// NAVBAR
.navbar-header {
  font-family:
    HKGroteskWide,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba($color: $background-color, $alpha: 0.95);
  backdrop-filter: blur(5px);

  .navbar-header-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 1rem;
  }

  .navbar-aside {
    width: auto;
    height: auto;

    img {
      width: 70px;
      height: auto;
      transition: transform 200ms ease-in-out;

      &:hover {
        @include hover-scale();
      }
    }
  }

  button {
    display: none;
  }

  .navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: fit-content;

    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;

      a {
        text-decoration: none;
        color: $white-color;
        transition:
          transform 200ms ease,
          color 200ms ease;
        width: fit-content;
        text-wrap: nowrap;

        &:hover {
          @include hover-scale();
          color: $second-color;
        }
      }
    }
  }
}

// HERO
.hero-container {
  margin-top: 6rem;
  position: relative;
  border-radius: 0;
  overflow: visible;
  background-color: $background-color;

  .hero-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;

    .hero-container-top-left {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 2rem 0.5rem;
      gap: 1rem;

      h1 {
        font-family: HKGroteskWide, (--font-dmSerifDisplay), sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        span {
          font-family: HKGroteskWide, var(--font-dmSerifDisplay), sans-serif;
          color: $second-color;
          font-size: 1.5rem;
          display: inline-block;
        }
      }

      p {
        line-height: 24px;
        margin: 0;
        width: 80%;
        flex-grow: 0;
        text-wrap: balance;
        font-size: 1rem;
      }

      a {
        margin-top: 2rem;
        background-color: $second-color / 07;
        color: $white-color;
        text-align: center;
        min-width: 30%;
        max-width: 30%;
        border: 2px solid rgba($color: $border-card, $alpha: 0.8);
        border-radius: 5rem;
        padding: 0.8rem 0;
        font-family: var(--font-arimo);
        font-weight: normal;
        font-size: 0.9rem;
        cursor: pointer;
        text-decoration: none;
        transition:
          background-color 200ms ease-in-out,
          transform 200ms ease-in-out;

        &:hover {
          background-color: $second-color;
          transform: scale(1.05);
        }
      }
    }

    .hero-container-top-right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;
      -webkit-mask-image: linear-gradient(
        to top,
        transparent 5%,
        $background-color 70%
      );
      mask-image: linear-gradient(
        to top,
        transparent 5%,
        $background-color 70%
      );

      img {
        width: 440px;
        transition: all 200ms ease-in-out;

        &:hover {
          filter: grayscale(1);
          transform: scale(1.05);
        }
      }
    }
  }
}

// SECTIONS

.section-container {
  margin: 2rem 0;
  width: 100%;
  scroll-margin-top: 5rem;

  .section-title {
    font-family:
      HKGroteskWide,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// PROJECTS

.projects-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 1024px) {
  .projects-projects:has(.projects-card:hover) .projects-card {
    transition: all 300ms ease-out;
    filter: opacity(0.5) blur(1.5px) grayscale(100%);

    &:hover {
      filter: opacity(1) blur(0px) grayscale(0%);
      z-index: 50;
    }
  }
}

.projects-card {
  width: 100%;
  max-height: 450px;
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  position: relative;
  transition: all 300ms ease-out;

  .last-project {
    position: absolute;
    background-color: $border-card;
    color: $white-color;
    border: 2px solid $second-color;
    height: 35px;
    width: 140px;
    top: -10px;
    left: -12px;
    border-radius: 0.5rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }

  &:first-child {
    grid-column: 1 / 3;
  }

  &:nth-last-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &:nth-last-child(3) {
    // Movies Search App
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }

  &:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .projects-card-img {
    aspect-ratio: auto;
    width: 100%;

    a {
      text-decoration: none;

      span {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
        z-index: 5;
        mask-image: linear-gradient(to top, transparent 1%, $black-color 10%);
        transition:
          opacity 200ms ease-in-out,
          scale 200ms 200ms ease-in-out;
      }
    }
  }

  .projects-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    text-wrap: pretty, balance;
    background: linear-gradient(to top, #0e0012 15%, transparent);
    position: absolute;
    width: auto;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border-radius: 1rem;

    &:hover {
      .projects-card-info-container {
        opacity: 1;
      }
    }

    .projects-card-info-container {
      opacity: 0.7;
    }

    h3 {
      color: $second-color;
      letter-spacing: 0px;
      font-size: 1.2rem;
    }

    p {
      width: 100%;
      line-height: 24px;
      padding-right: 1rem;
      flex-grow: 0;
      text-wrap: balance;
      overflow-y: scroll;
      scrollbar-width: none;
      font-size: 0.9rem;
      margin-top: 0.2rem;
    }

    .highlighted {
      color: $second-color;
      font-style: italic;
      font-weight: bold;
      text-decoration: none;
    }

    footer {
      width: fit-content;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      font-size: 0.8rem;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      a {
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        background-color: $second-color / 07;
        backdrop-filter: blur(5px);
        border: 2px solid rgba($color: $border-card, $alpha: 0.8);
        border-radius: 50%;
        text-decoration: none;
        color: $white-color;
        transition:
          color 300ms ease-in-out,
          background-color 300ms ease-in-out,
          border 300ms ease-in-out;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: $second-color;
          border: 2px solid rgba($color: $second-color, $alpha: 1);
        }

        & svg {
          width: 20px;
          margin: 0 auto;
        }
      }
    }
  }

  .project-techs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;

    .project-tech {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      width: fit-content;
      border-radius: 1rem;
      padding: 0.1rem 0.5rem;

      svg {
        width: 20px;
        height: 20px;
        border-radius: 0%;
        object-position: center;
        object-fit: cover;
      }

      p {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
        width: fit-content;
      }
    }
  }
}

// ABOUT ME
.about-me-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto auto;
  gap: 1.5rem;

  .about-me-container-section {
    background: radial-gradient(ellipse at top, #471b4d 10%, transparent),
      radial-gradient(ellipse at bottom, #ec5cff40, transparent);
    border-radius: 1rem;
    grid-column: 1 / 2;
    padding: 1rem 2rem;

    & > h2 {
      font-family:
        HKGroteskWide,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
      text-align: center;
      padding: 1rem 0;
    }

    img {
      animation: aboutme-movement 2s ease-in-out infinite alternate both;
    }

    .vector-rocket {
      rotate: 15deg;
    }

    @keyframes aboutme-movement {
      0% {
        transform: translateY(20%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      & img {
        width: 35px;
        filter: drop-shadow(5px 1px 3px rgba(0, 0, 0, 0.8));
      }
    }
  }

  .about-me-container-article-first {
    grid-column: 2 / 3;
    background-color: rgba($color: $border-card, $alpha: 0.2);
    border-radius: 1rem;
    padding: 1rem 0rem;
    position: relative;
    overflow: hidden;
    max-height: auto;

    & > h2 {
      font-family:
        HKGroteskWide,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
      text-align: center;
      padding: 1rem 0;
    }

    .hobbies-image {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: 120%;
      opacity: 20%;
      rotate: 20deg;
      animation: hobbies-movement 2s ease-in-out infinite alternate both;
    }

    @keyframes hobbies-movement {
      0% {
        transform: translateY(3%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    .hobbies-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 100%;
      height: 100%;
      gap: 0.5rem;
      padding: 0.5rem;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      margin-top: 0.5rem;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        width: 80px;
        transition: transform 200ms ease-in-out;
        filter: saturate(80%);

        .shadow {
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          z-index: 10;
          box-shadow: inset 2px 2px 35px black;
        }

        picture,
        img {
          transform: rotate(0deg);
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          opacity: 1;
        }

        &:hover {
          transform: scale(1.05);
          filter: saturate(100%);
        }
      }
    }
  }

  .about-me-container-article-second {
    grid-column: 1 / 3;
    background-color: rgba($color: $border-card, $alpha: 0.2);
    border-radius: 1rem;
  }

  p {
    text-wrap: pretty;

    span > a {
      color: $second-color;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

// TECH STACK
.tech-stack-container {
  width: 100%;
  border-radius: 0.5rem;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  .tech-stack {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
  }

  svg {
    color: $white-color;
    width: 40px;
    height: 40px;
    transition:
      color,
      transform 200ms ease-in-out,
      background-color 200ms ease-in-out;
    filter: opacity(0.7);

    &:hover {
      transform: scale(1.2);
      filter: opacity(1);
    }
  }

  .html-icon svg {
    color: $html-color;
  }

  .css-icon svg {
    color: $css-color;
  }

  .javascript-icon svg {
    color: $javascript-color;
  }

  .react-icon svg {
    color: $react-color;
  }

  .typescript-icon svg {
    color: $typescript-color;
  }

  .sass-icon svg {
    color: $sass-color;
  }

  .tailwind-icon svg {
    color: $tailwind-color;
  }

  .nextjs-icon svg {
    background-color: $white-color;
    border: 1px solid $white-color;
    border-radius: 50%;
    color: $black-color;
  }

  .node-icon svg {
    color: $node-color;
  }

  .mysql-icon svg {
    color: $mysql-color;
  }

  img {
    color: $white-color;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    transition:
      color,
      transform 200ms ease-in-out,
      background-color 200ms ease-in-out;
    filter: opacity(0.7);

    &:hover {
      transform: scale(1.2);
      filter: opacity(1);
    }
  }
}

// FOOTER
.footer-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $second-color;
  border-bottom: 1px solid $second-color;
  padding: 3rem 0rem;

  .footer-info {
    width: 100%;
    display: flex;
    align-items: center;

    div {
      display: flex;
      gap: 2rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white-color;
        text-decoration: none;
        gap: 0.5rem;
        transition:
          transform 200ms ease-in-out,
          color 200ms ease-in-out;
        font-family: HKGroteskWide;
        font-size: 1.5rem;
        font-style: italic;

        &:hover {
          color: $second-color;
          transform: scale(1.1);
        }
      }
    }
  }

  .footer-logo {
    margin-top: 8px;
    width: 80px;
    transition: transform 200ms ease-in-out;

    &:hover {
      @include hover-scale();
    }
  }
}

.footer-message {
  p {
    font-size: 0.9rem;
    text-align: center;
    color: $second-color;
  }
}

@media (max-width: 576px) {
  // GENERAL
  a,
  p {
    font-size: 0.9rem;
  }

  // MAIN APP
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }

  // NAVBAR
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: $background-color;

    .navbar-aside {
      width: auto;
      height: auto;

      img {
        width: 50px;
        height: auto;
        transition: none;

        &:hover {
          transform: scale(1);
        }
      }
    }

    button {
      display: block;
      background-color: transparent;
      border: none;
      color: $white-color;
    }

    .navbar-nav {
      background-color: $background-color;
      width: 100%;
      min-height: 100vh;
      position: fixed;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0rem;
      transition: transform 200ms ease-in-out;
      transform: translateX(100%);
      padding-top: 1rem;

      &.is-active {
        transform: translateX(0);
      }

      ul {
        width: 100%;
        padding: 0;
        margin: 1rem auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: $background-color;

        a {
          text-decoration: none;
          font-weight: normal;
          color: $white-color;
          transition: none;

          &:hover {
            transform: scale(1);
            color: $white-color;
          }
        }
      }

      .navbar-nav-social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        background-color: $background-color;
        padding-top: 3rem;

        a {
          color: $white-color;
          fill: $white-color;
          transition: none;

          &:hover {
            transform: scale(1);
            color: $white-color;
          }
        }
      }
    }
  }

  // HERO
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 6rem;

    .hero-container-top {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hero-container-top-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;

        h1 {
          font-size: 2.3rem;
          text-align: center;

          span {
            color: $second-color;
            font-size: 1.7rem;
            display: block;
          }
        }

        p {
          line-height: 24px;
          margin: 0;
          padding: 0 1rem;
          width: 100%;
          text-align: center;
        }

        a {
          background-color: $background-color;
          color: $white-color;
          text-align: center;
          min-width: 40%;
          border: 2px solid rgba($color: $border-card, $alpha: 0.8);
          border-radius: 5rem;
          padding: 0.8rem 1rem;
          font-family: var(--font-arimo);
          font-weight: normal;
          letter-spacing: 0px;
          font-size: 0.8rem;
          cursor: pointer;
          transition: none;
          margin-top: 0;

          &:hover {
            background-color: $background-color;
          }
        }
      }

      .hero-container-top-right {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
          width: 100%;
          max-width: 350px;
          transition: none;

          &:hover {
            transform: none;
            filter: none;
          }
        }
      }
    }
  }

  // SECTIONS

  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;

    .section-title {
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 1.1rem;
      }
    }
  }

  // PROJECTS

  .projects-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem;
  }

  .projects-card {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 0rem;
    transition: transform 200ms ease-out;
    background-color: $background-color;
    border-radius: 0.5rem;
    text-decoration: none;
    // border: 2px solid rgba($color: $border-card, $alpha: 0.8);
    outline: 1px solid rgba($color: $border-card, $alpha: 0.5);
    box-shadow: 0px 10px 10px 0px rgba($color: $border-card, $alpha: 0.5);

    &:hover {
      transform: scale(1);
      z-index: 50;
    }

    .projects-card-img {
      width: 100%;
      position: relative;

      a {
        text-decoration: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 0.5rem;
        }
      }
    }

    .projects-card-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0.8rem;
      text-wrap: pretty, balance;
      background-color: $background-color;
      backdrop-filter: blur(0);
      position: relative;
      width: 100%;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      opacity: 1;
      visibility: visible;
      transition: none;

      .projects-card-info-container {
        opacity: 1;
      }

      h3 {
        color: $second-color;
        letter-spacing: 0.5px;
        font-size: 1.2rem;
      }

      p {
        width: 100%;
        line-height: 24px;
        padding-right: 1rem;
        flex-grow: 1;
        text-wrap: pretty, balance;
        overflow-y: scroll;
        scrollbar-width: none;
        font-size: 0.9rem;
      }

      footer {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        display: none;

        a {
          display: flex;
          align-items: center;
          justify-items: center;
          gap: 4px;
          padding: 0 1rem;
          border-radius: 5rem;
          text-decoration: none;
          color: $white-color;
          transition: background-color 300ms ease-in-out;
          text-wrap: pretty, balance;
          letter-spacing: 0.5px;
          font-size: 0.7rem;

          &:hover {
            background-color: $second-color / 07;
          }

          & svg {
            width: 20px;
          }
        }
      }
    }
  }

  .about-me-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1.5rem;

    .about-me-container-section {
      background: radial-gradient(ellipse at top, #471b4d 10%, transparent),
        radial-gradient(ellipse at bottom, #ec5cff40, transparent);
      border-radius: 1rem;
      grid-column: 1 / 1;
      padding: 0.5rem 1rem;

      & > h2 {
        font-family:
          HKGroteskWide,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Open Sans',
          'Helvetica Neue',
          sans-serif;
        text-align: center;
        font-size: 1.1rem;
      }

      img {
        animation: aboutme-movement 2s ease-in-out infinite alternate both;
      }

      .vector-rocket {
        rotate: 15deg;
      }

      @keyframes aboutme-movement {
        0% {
          transform: translateY(20%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        & img {
          width: 30px;
          filter: drop-shadow(5px 1px 3px rgba(0, 0, 0, 0.8));
        }
      }
    }

    .about-me-container-article-first {
      grid-column: auto;
      background-color: rgba($color: $border-card, $alpha: 0.2);
      border-radius: 1rem;
      padding: 1rem 0rem;
      position: relative;
      overflow: hidden;
      max-height: 450px;

      & > h2 {
        font-family:
          HKGroteskWide,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Open Sans',
          'Helvetica Neue',
          sans-serif;
        text-align: center;
        font-size: 1.1rem;
      }

      .hobbies-image {
        position: absolute;
        z-index: -1;
        top: -3rem;
        left: 1rem;
        right: 0;
        bottom: 0;
        height: auto;
        width: 110%;
        opacity: 20%;
        rotate: 20deg;
        animation: hobbies-movement 2s ease-in-out infinite alternate both;
      }

      @keyframes hobbies-movement {
        0% {
          transform: translateY(3%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      .hobbies-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        gap: 1rem;
        padding: 0.5rem;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 0.5rem;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 1rem;
          overflow: hidden;
          width: 60px;
          transition: transform 200ms ease-in-out;
          filter: saturate(100%);

          .shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: 10;
            box-shadow: inset 2px 2px 35px black;
          }

          picture,
          img {
            transform: rotate(0deg);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 1;
          }

          &:hover {
            transform: scale(1);
            filter: saturate(100%);
          }
        }
      }
    }

    .about-me-container-article-second {
      grid-column: auto;
      background-color: rgba($color: $border-card, $alpha: 0.2);
      border-radius: 1rem;
    }

    p {
      text-wrap: pretty;

      span > a {
        color: $second-color;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  // ABOUT ME
  .about-me-container {
    p {
      margin: 0.3rem auto;
      padding: 0.8rem 0.5rem;
      line-height: 24px;
      width: 100%;
      text-wrap: pretty;
    }

    .contact,
    .thanks {
      text-wrap: pretty;
      text-align: center;
    }
  }

  .tech-stack-container {
    width: 100%;
    border-radius: 0.5rem;

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0rem 0rem 0.5rem 0.5rem;
      padding: 1rem;
    }

    .tech-stack {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin: 1rem 0;
      flex-wrap: wrap;
    }

    svg {
      color: $white-color;
      width: 30px;
      height: 30px;
      transition:
        color,
        transform 200ms ease-in-out,
        background-color 200ms ease-in-out;
      filter: grayscale(0);

      &:hover {
        transform: scale(1);
        filter: grayscale(0);
      }
    }

    img {
      color: $white-color;
      width: 30px;
      height: 30px;
      object-fit: cover;
      object-position: center;
      transition:
        color,
        transform 200ms ease-in-out,
        background-color 200ms ease-in-out;
      filter: grayscale(0);

      &:hover {
        transform: scale(1);
        filter: grayscale(0);
      }
    }
  }

  // FOOTER
  .footer-container {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid $second-color;
    border-bottom: 1px solid $second-color;
    margin: 0;
    padding: 0;
    gap: 1rem;

    .footer-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
          text-decoration: none;
          gap: 0.5rem;
          transition:
            transform 200ms ease-in-out,
            color 200ms ease-in-out;
          font-family: HKGroteskWide;
          font-size: 1.5rem;
          font-style: italic;

          &:hover {
            color: $second-color;
            transform: scale(1.1);
          }
        }
      }
    }

    .footer-logo {
      width: 50px;
      transition: transform 200ms ease-in-out;
      margin-bottom: 2rem;

      &:hover {
        @include hover-scale();
      }
    }
  }

  .footer-message {
    p {
      font-size: 0.5rem;
      text-align: center;
      color: $second-color;
    }
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  // HERO
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: $background-color;

    .hero-container-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 500px;

      .hero-container-top-left {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0.5rem;
        gap: 1rem;

        h1 {
          font-size: 2.5rem;

          span {
            color: $second-color;
            font-size: 1.6rem;
            display: inline-block;
          }
        }

        p {
          line-height: 24px;
          margin: 0;
          width: 80%;
          flex-grow: 0;
          text-wrap: pretty, balance;
        }

        a {
          margin-top: 1rem;
          background-color: $second-color / 07;
          color: $white-color;
          text-align: center;
          min-width: 35%;
          max-width: 35%;
          border: 2px solid rgba($color: $border-card, $alpha: 0.8);
          border-radius: 5rem;
          padding: 0.7rem 0;
          font-family: var(--font-arimo);
          font-weight: normal;
          cursor: pointer;
          text-decoration: none;
          transition: background-color 300ms ease;

          &:hover {
            background-color: $second-color;
          }
        }
      }

      .hero-container-top-right {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
          to top,
          transparent 5%,
          $background-color 70%
        );
        mask-image: linear-gradient(
          to top,
          transparent 5%,
          $background-color 70%
        );

        img {
          position: relative;
          top: -2rem;
          right: -4rem;
          width: 400px;
          transition: all 200ms ease-in-out;

          &:hover {
            filter: grayscale(1);
            transform: scale(1.05);
          }
        }
      }
    }
  }

  // PROJECTS

  .projects-projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0rem;
  }

  .projects-card {
    width: 45%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 0rem;
    transition: transform 200ms ease-out;
    background-color: $background-color;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 2px solid rgba($color: $border-card, $alpha: 0.8);

    &:hover {
      transform: scale(1);
      z-index: 50;
    }

    .projects-card-img {
      width: 100%;
      position: relative;

      a {
        text-decoration: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 0.5rem;
        }
      }
    }

    .projects-card-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0.8rem;
      text-wrap: pretty, balance;
      background-color: $background-color;
      backdrop-filter: blur(0);
      position: relative;
      width: 100%;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      opacity: 1;
      visibility: visible;
      transition: none;

      .projects-card-info-container {
        opacity: 1;
      }

      h3 {
        color: $second-color;
        letter-spacing: 0.5px;
        font-size: 1.2rem;
      }

      p {
        width: 100%;
        line-height: 24px;
        padding-right: 1rem;
        flex-grow: 1;
        text-wrap: pretty, balance;
        overflow-y: scroll;
        scrollbar-width: none;
        font-size: 0.9rem;
      }

      footer {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        display: none;

        a {
          display: flex;
          align-items: center;
          justify-items: center;
          gap: 4px;
          padding: 0 1rem;
          border-radius: 5rem;
          text-decoration: none;
          color: $white-color;
          transition: background-color 300ms ease-in-out;
          text-wrap: pretty, balance;
          letter-spacing: 0.5px;
          font-size: 0.7rem;

          &:hover {
            background-color: $second-color / 07;
          }

          & svg {
            width: 20px;
          }
        }
      }
    }
  }

  .about-me-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1.5rem;

    .about-me-container-section {
      background: radial-gradient(ellipse at top, #471b4d 10%, transparent),
        radial-gradient(ellipse at bottom, #ec5cff40, transparent);
      border-radius: 1rem;
      grid-column: 1 / 1;
      padding: 0.5rem 1.5rem;

      img {
        animation: aboutme-movement 2s ease-in-out infinite alternate both;
      }

      .vector-rocket {
        rotate: 15deg;
      }

      @keyframes aboutme-movement {
        0% {
          transform: translateY(20%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        p {
          text-wrap: pretty;
        }

        & img {
          width: 30px;
          filter: drop-shadow(5px 1px 3px rgba(0, 0, 0, 0.8));
        }
      }
    }

    .about-me-container-article-first {
      grid-column: auto;
      background-color: rgba($color: $border-card, $alpha: 0.2);
      border-radius: 1rem;
      padding: 1rem 0rem;
      position: relative;
      overflow: hidden;
      max-height: 450px;

      & > h2 {
        font-family:
          HKGroteskWide,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Open Sans',
          'Helvetica Neue',
          sans-serif;
        text-align: center;
        font-size: 1.5rem;
      }

      .hobbies-image {
        position: absolute;
        z-index: -1;
        top: -6rem;
        left: 0rem;
        right: 0;
        bottom: 0;
        height: auto;
        width: 60%;
        margin: 0 auto;
        opacity: 20%;
        rotate: 20deg;
        animation: hobbies-movement 2s ease-in-out infinite alternate both;
      }

      @keyframes hobbies-movement {
        0% {
          transform: translateY(3%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      .hobbies-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        gap: 1rem;
        padding: 0.5rem;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 0.5rem;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 1rem;
          overflow: hidden;
          width: 60px;
          transition: transform 200ms ease-in-out;
          filter: saturate(100%);

          .shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: 10;
            box-shadow: inset 2px 2px 35px black;
          }

          picture,
          img {
            transform: rotate(0deg);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 1;
          }

          &:hover {
            transform: scale(1);
            filter: saturate(100%);
          }
        }
      }
    }

    .about-me-container-article-second {
      grid-column: auto;
      background-color: rgba($color: $border-card, $alpha: 0.2);
      border-radius: 1rem;
    }

    p {
      text-wrap: pretty;

      span > a {
        color: $second-color;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  // ABOUT ME
  .about-me-container {
    p {
      margin: 0.3rem auto;
      padding: 0.8rem 0.5rem;
      line-height: 24px;
      width: 100%;
      text-wrap: balance;

      &:nth-child(4),
      &:nth-child(5) {
        text-wrap: balance;
        text-align: center;
      }
    }
  }

  .tech-stack-container {
    width: 100%;
    border-radius: 0.5rem;

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0rem 0rem 0.5rem 0.5rem;
      padding: 1rem;
    }

    .tech-stack {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin: 1rem 0;
      flex-wrap: wrap;
    }

    svg {
      color: $white-color;
      width: 50px;
      height: 50px;
      transition:
        color,
        transform 200ms ease-in-out,
        background-color 200ms ease-in-out;
      filter: grayscale(0);

      &:hover {
        transform: scale(1);
        filter: grayscale(0);
      }
    }

    img {
      color: $white-color;
      width: 50px;
      height: 50px;
      object-fit: cover;
      object-position: center;
      transition:
        color,
        transform 200ms ease-in-out,
        background-color 200ms ease-in-out;
      filter: grayscale(0);

      &:hover {
        transform: scale(1);
        filter: grayscale(0);
      }
    }
  }

  // FOOTER
  .footer-container {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $second-color;
    border-bottom: 1px solid $second-color;
    margin: 0;
    padding: 0;

    .footer-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
          text-decoration: none;
          gap: 0.5rem;
          transition:
            transform 200ms ease-in-out,
            color 200ms ease-in-out;
          font-family: HKGroteskWide;
          font-size: 2rem;
          font-style: italic;

          &:hover {
            color: $second-color;
            transform: scale(1.1);
          }
        }
      }
    }

    .footer-logo {
      width: 50px;
      transition: transform 200ms ease-in-out;
      margin-bottom: 2rem;

      &:hover {
        @include hover-scale();
      }
    }
  }

  .footer-message {
    p {
      font-size: 0.9rem;
      text-align: center;
      color: $second-color;
    }
  }
}
