@font-face {
  font-family: "HKGroteskWide";
  src: url("../../public/fonts/HKGroteskWide-Black.woff2");
  font-display: swap;
  font-weight: 900;
}

html {
  box-sizing: border-box;
  font-family: var(--font-poppins), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #0e0012;
  color: #ffffff;
  max-width: 1280px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.main-app {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0rem 1rem;
  overflow: visible;
}

.navbar-header {
  font-family: HKGroteskWide, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(14, 0, 18, 0.95);
  backdrop-filter: blur(5px);
}

.navbar-header .navbar-header-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-header .navbar-aside {
  width: auto;
  height: auto;
}

.navbar-header .navbar-aside img {
  width: 70px;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.navbar-header .navbar-aside img:hover {
  transform: scale(1.1);
}

.navbar-header button {
  display: none;
}

.navbar-header .navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: fit-content;
}

.navbar-header .navbar-nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-header .navbar-nav ul a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 200ms ease, color 200ms ease;
  width: fit-content;
  text-wrap: nowrap;
}

.navbar-header .navbar-nav ul a:hover {
  transform: scale(1.1);
  color: #ec5cff;
}

.hero-container {
  margin-top: 6rem;
  position: relative;
  border-radius: 0;
  overflow: visible;
  background-color: #0e0012;
}

.hero-container .hero-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

.hero-container .hero-container-top .hero-container-top-left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0.5rem;
  gap: 1rem;
}

.hero-container .hero-container-top .hero-container-top-left h1 {
  font-family: HKGroteskWide, --font-dmSerifDisplay, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.hero-container .hero-container-top .hero-container-top-left h1 span {
  font-family: HKGroteskWide, var(--font-dmSerifDisplay), sans-serif;
  color: #ec5cff;
  font-size: 1.5rem;
  display: block;
}

.hero-container .hero-container-top .hero-container-top-left p {
  line-height: 24px;
  margin: 0;
  width: 100%;
  flex-grow: 0;
  text-wrap: balance;
}

.hero-container .hero-container-top .hero-container-top-left a {
  margin-top: 2rem;
  background-color: #220d24;
  color: #ffffff;
  text-align: center;
  min-width: 30%;
  max-width: 30%;
  border: 2px solid rgba(71, 27, 77, 0.8);
  border-radius: 5rem;
  padding: 0.8rem 0;
  font-family: var(--font-arimo);
  font-weight: normal;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.hero-container .hero-container-top .hero-container-top-left a:hover {
  background-color: #ec5cff;
  transform: scale(1.05);
}

.hero-container .hero-container-top .hero-container-top-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, #0e0012 70%);
  mask-image: linear-gradient(to top, transparent 5%, #0e0012 70%);
}

.hero-container .hero-container-top .hero-container-top-right img {
  width: 440px;
  transition: all 200ms ease-in-out;
}

.hero-container .hero-container-top .hero-container-top-right img:hover {
  filter: grayscale(1);
  transform: scale(1.05);
}

.section-container {
  margin: 2rem 0;
  width: 100%;
  scroll-margin-top: 5rem;
}

.section-container .section-title {
  font-family: HKGroteskWide, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.projects-card {
  width: 100%;
  max-height: 450px;
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  position: relative;
  transition: transform 200ms ease-out;
}

.projects-card:hover .projects-card-img a img {
  opacity: 0.6;
}

.projects-card .last-project {
  position: absolute;
  background-color: #471b4d;
  color: #ffffff;
  border: 2px solid #ec5cff;
  height: 35px;
  width: 140px;
  top: -10px;
  left: -12px;
  border-radius: 0.5rem;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-card .last-project p {
  font-size: 0.8rem;
  font-weight: bold;
}

.projects-card:hover {
  transform: scale(1.05);
  z-index: 50;
}

.projects-card:first-child {
  grid-column: 1 / 3;
}

.projects-card:nth-last-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.projects-card:nth-last-child(3) {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
}

.projects-card:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.projects-card:last-child {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.projects-card .projects-card-img {
  aspect-ratio: auto;
  width: 100%;
}

.projects-card .projects-card-img a {
  text-decoration: none;
}

.projects-card .projects-card-img a span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.projects-card .projects-card-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  z-index: 5;
  mask-image: linear-gradient(to top, transparent 1%, #000000 10%);
  transition: opacity 200ms ease-in-out;
}

.projects-card .projects-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  text-wrap: pretty, balance;
  background: linear-gradient(to top, #0e0012 15%, transparent);
  position: absolute;
  width: auto;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border-radius: 1rem;
}

.projects-card .projects-card-info:hover .projects-card-info-container {
  opacity: 1;
}

.projects-card .projects-card-info .projects-card-info-container {
  opacity: 0.7;
}

.projects-card .projects-card-info h3 {
  color: #ec5cff;
  letter-spacing: 0px;
  font-size: 1.2rem;
}

.projects-card .projects-card-info p {
  width: 100%;
  line-height: 24px;
  padding-right: 1rem;
  flex-grow: 0;
  text-wrap: balance;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 0.9rem;
}

.projects-card .projects-card-info footer {
  margin-top: 0rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.projects-card .projects-card-info footer a {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 4px;
  background-color: #220d24;
  backdrop-filter: blur(5px);
  padding: 0 1rem;
  border: 2px solid rgba(71, 27, 77, 0.8);
  border-radius: 5rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  text-wrap: pretty, balance;
  letter-spacing: 0.5px;
}

.projects-card .projects-card-info footer a:hover {
  background-color: #ec5cff;
}

.projects-card .projects-card-info footer a svg {
  width: 20px;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

.about-me-container .about-me-container-section {
  background: radial-gradient(ellipse at top, #471b4d 10%, transparent), radial-gradient(ellipse at bottom, #ec5cff40, transparent);
  border-radius: 1rem;
  grid-column: 1 / 2;
  padding: 1rem 2rem;
}

.about-me-container .about-me-container-section img {
  animation: aboutme-movement 2s ease-in-out infinite alternate both;
}

.about-me-container .about-me-container-section .vector-rocket {
  rotate: 15deg;
}

@keyframes aboutme-movement {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

.about-me-container .about-me-container-section div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.about-me-container .about-me-container-section div img {
  width: 35px;
  filter: drop-shadow(5px 1px 3px rgba(0, 0, 0, 0.8));
}

.about-me-container .about-me-container-article-first {
  grid-column: 2 / 3;
  background-color: rgba(71, 27, 77, 0.2);
  border-radius: 1rem;
  padding: 1rem 0rem;
  position: relative;
  overflow: hidden;
  max-height: 450px;
}

.about-me-container .about-me-container-article-first > h2 {
  font-family: HKGroteskWide, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.about-me-container .about-me-container-article-first .hobbies-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 120%;
  opacity: 20%;
  rotate: 20deg;
  animation: hobbies-movement 2s ease-in-out infinite alternate both;
}

@keyframes hobbies-movement {
  0% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}

.about-me-container .about-me-container-article-first .hobbies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 0.5rem;
}

.about-me-container .about-me-container-article-first .hobbies-grid span {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 100px;
  transition: transform 200ms ease-in-out;
  filter: saturate(80%);
}

.about-me-container .about-me-container-article-first .hobbies-grid span .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 10;
  box-shadow: inset 2px 2px 35px black;
}

.about-me-container .about-me-container-article-first .hobbies-grid span img {
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
}

.about-me-container .about-me-container-article-first .hobbies-grid span:hover {
  transform: scale(1.05);
  filter: saturate(100%);
}

.about-me-container .about-me-container-article-second {
  grid-column: 1 / 3;
  background-color: rgba(71, 27, 77, 0.2);
  border-radius: 1rem;
}

.about-me-container p {
  text-wrap: pretty;
}

.about-me-container p span > a {
  color: #ec5cff;
  font-weight: bold;
  text-decoration: none;
}

.tech-stack-container {
  width: 100%;
  border-radius: 0.5rem;
}

.tech-stack-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 1rem;
}

.tech-stack-container .tech-stack {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.tech-stack-container svg {
  color: #ffffff;
  width: 50px;
  height: 50px;
  transition: color, transform 200ms ease-in-out, background-color 200ms ease-in-out;
  filter: grayscale(1);
}

.tech-stack-container svg:hover {
  transform: scale(1.3);
  filter: grayscale(0);
}

.tech-stack-container .html-icon svg {
  color: #e44d26;
}

.tech-stack-container .css-icon svg {
  color: #2299f8;
}

.tech-stack-container .javascript-icon svg {
  color: #f0dc4e;
}

.tech-stack-container .react-icon svg {
  color: #61dbfb;
}

.tech-stack-container .typescript-icon svg {
  color: #2d79c7;
}

.tech-stack-container .sass-icon svg {
  color: #cd669a;
}

.tech-stack-container .tailwind-icon svg {
  color: #38bdf8;
}

.tech-stack-container .nextjs-icon svg {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #000000;
}

.tech-stack-container .node-icon svg {
  color: #43853d;
}

.tech-stack-container .mysql-icon svg {
  color: #007195;
}

.footer-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ec5cff;
  border-bottom: 1px solid #ec5cff;
  padding: 3rem 0rem;
}

.footer-container .footer-info {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-container .footer-info div {
  display: flex;
  gap: 2rem;
}

.footer-container .footer-info div a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  gap: 0.5rem;
  transition: transform 200ms ease-in-out, color 200ms ease-in-out;
  font-family: HKGroteskWide;
  font-size: 2rem;
  font-style: italic;
}

.footer-container .footer-info div a:hover {
  color: #ec5cff;
  transform: scale(1.1);
}

.footer-container .footer-logo {
  width: 80px;
  transition: transform 200ms ease-in-out;
}

.footer-container .footer-logo:hover {
  transform: scale(1.1);
}

.footer-message p {
  font-size: 0.9rem;
  text-align: center;
  color: #ec5cff;
}

@media (max-width: 576px) {
  a,
  p {
    font-size: 0.9rem;
  }
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: #0e0012;
  }
  .navbar-header .navbar-aside {
    width: auto;
    height: auto;
  }
  .navbar-header .navbar-aside img {
    width: 50px;
    height: auto;
    transition: none;
  }
  .navbar-header .navbar-aside img:hover {
    transform: scale(1);
  }
  .navbar-header button {
    display: block;
    background-color: transparent;
    border: none;
    color: #ffffff;
  }
  .navbar-header .navbar-nav {
    background-color: #0e0012;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
    transition: transform 200ms ease-in-out;
    transform: translateX(100%);
    padding-top: 1rem;
  }
  .navbar-header .navbar-nav.is-active {
    transform: translateX(0);
  }
  .navbar-header .navbar-nav ul {
    width: 100%;
    padding: 0;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #0e0012;
  }
  .navbar-header .navbar-nav ul a {
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav ul a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .navbar-header .navbar-nav .navbar-nav-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background-color: #0e0012;
    padding-top: 3rem;
  }
  .navbar-header .navbar-nav .navbar-nav-social a {
    color: #ffffff;
    fill: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav .navbar-nav-social a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 6rem;
  }
  .hero-container .hero-container-top {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-container .hero-container-top .hero-container-top-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 {
    font-family: var(--font-dmSerifDisplay), sans-serif;
    font-size: 2.3rem;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 span {
    color: #ec5cff;
    font-size: 1.7rem;
    display: block;
  }
  .hero-container .hero-container-top .hero-container-top-left p {
    line-height: 22px;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
  }
  .hero-container .hero-container-top .hero-container-top-left a {
    background-color: #0e0012;
    color: #ffffff;
    text-align: center;
    min-width: 40%;
    border: 2px solid rgba(71, 27, 77, 0.8);
    border-radius: 5rem;
    padding: 0.8rem 1rem;
    font-family: var(--font-arimo);
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: none;
    margin-top: 0;
  }
  .hero-container .hero-container-top .hero-container-top-left a:hover {
    background-color: #0e0012;
  }
  .hero-container .hero-container-top .hero-container-top-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
  }
  .hero-container .hero-container-top .hero-container-top-right img {
    width: 100%;
    max-width: 350px;
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-right img:hover {
    transform: none;
    filter: none;
  }
  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;
  }
  .section-container .section-title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-container .section-title h2 {
    font-size: 1.1rem;
  }
  .projects-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem;
  }
  .projects-card {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 0rem;
    transition: transform 200ms ease-out;
    background-color: #0e0012;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 2px solid rgba(71, 27, 77, 0.8);
  }
  .projects-card:hover {
    transform: scale(1);
    z-index: 50;
  }
  .projects-card .projects-card-img {
    width: 100%;
    position: relative;
  }
  .projects-card .projects-card-img a {
    text-decoration: none;
  }
  .projects-card .projects-card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }
  .projects-card .projects-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.5rem;
    text-wrap: pretty, balance;
    background-color: #0e0012;
    backdrop-filter: blur(0);
    position: relative;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 1;
    visibility: visible;
    transition: none;
  }
  .projects-card .projects-card-info h3 {
    color: #ec5cff;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
  }
  .projects-card .projects-card-info p {
    width: 100%;
    line-height: 24px;
    padding-right: 1rem;
    flex-grow: 1;
    text-wrap: pretty, balance;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: 0.9rem;
  }
  .projects-card .projects-card-info footer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
  }
  .projects-card .projects-card-info footer a {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4px;
    padding: 0 1rem;
    border-radius: 5rem;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 300ms ease-in-out;
    text-wrap: pretty, balance;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
  }
  .projects-card .projects-card-info footer a:hover {
    background-color: #220d24;
  }
  .projects-card .projects-card-info footer a svg {
    width: 20px;
  }
  .tech-stack-container .tech-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
  }
  .tech-stack-container .tech-stack svg:hover {
    transform: none;
  }
  .about-me-container p {
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    line-height: 24px;
    width: 100%;
  }
  .footer-container {
    background: linear-gradient(to bottom, #0e0012 -10%, #471b4d);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0rem;
    padding: 2rem 0;
  }
  .footer-container .footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-info div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer-container .footer-info div a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    gap: 0.5rem;
    transition: none;
  }
  .footer-container .footer-info div a:hover {
    color: #ffffff;
    transform: scale(1);
  }
  .footer-container .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-logo img {
    width: 80px;
    height: auto;
    transition: none;
  }
  .footer-container .footer-logo img:hover {
    transform: scale(1);
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #0e0012;
  }
  .hero-container .hero-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
  }
  .hero-container .hero-container-top .hero-container-top-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0.5rem;
    gap: 1rem;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 {
    font-family: var(--font-dmSerifDisplay), sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 span {
    font-family: var(--font-dmSerifDisplay), sans-serif;
    color: #ec5cff;
    font-size: 1.3rem;
    display: block;
    letter-spacing: 1.5px;
  }
  .hero-container .hero-container-top .hero-container-top-left p {
    line-height: 15px;
    margin: 0;
    width: 60%;
    flex-grow: 0;
    text-wrap: pretty, balance;
    font-size: 0.7rem;
  }
  .hero-container .hero-container-top .hero-container-top-left a {
    margin-top: 1rem;
    background-color: #220d24;
    color: #ffffff;
    text-align: center;
    min-width: 30%;
    max-width: 30%;
    border: 2px solid rgba(71, 27, 77, 0.8);
    border-radius: 5rem;
    padding: 0.7rem 0;
    font-family: var(--font-arimo);
    font-weight: normal;
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 300ms ease;
    min-width: 40%;
  }
  .hero-container .hero-container-top .hero-container-top-left a:hover {
    background-color: #ec5cff;
  }
  .hero-container .hero-container-top .hero-container-top-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, #0e0012 70%);
    mask-image: linear-gradient(to top, transparent 5%, #0e0012 70%);
  }
  .hero-container .hero-container-top .hero-container-top-right img {
    position: relative;
    top: -2rem;
    right: -4rem;
    width: 400px;
    transition: all 200ms ease-in-out;
  }
  .hero-container .hero-container-top .hero-container-top-right img:hover {
    filter: grayscale(1);
    transform: scale(1.05);
  }
  .projects-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .projects-card {
    width: 45%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 0rem;
    transition: transform 200ms ease-out;
    background-color: #0e0012;
    border-radius: 0.5rem;
  }
  .projects-card:hover {
    transform: none;
    z-index: 50;
  }
  .projects-card:first-child {
    grid-column: auto;
    grid-row: auto;
  }
  .projects-card:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }
  .projects-card:nth-last-child(7) {
    grid-column: auto;
    grid-row: auto;
  }
  .projects-card:last-child {
    grid-column: auto;
    grid-row: auto;
  }
  .projects-card .projects-card-img {
    width: 100%;
    min-height: 200px;
    max-height: 100%;
    position: relative;
  }
  .projects-card .projects-card-img a {
    text-decoration: none;
  }
  .projects-card .projects-card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0rem;
    border-radius: 0.5rem;
  }
  .projects-card .projects-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    text-wrap: pretty, balance;
    position: relative;
    width: 100%;
    left: 0px;
    right: 0px;
    top: -5px;
    bottom: 0px;
    opacity: 1;
    visibility: visible;
    transition: none;
  }
}
