// VARIABLES
$background-color: #0e0012;
$second-color: #ec5cff;
$third-color: #82e8cc;
$white-color: #ffffff;
$black-color: #000000;
$border-card: #471b4d;
$border-about-me: #00674c;

@mixin hover-scale {
  transform: scale(1.1);
}

// RESET
html {
  box-sizing: border-box;
  font-family: var(--font-arimo), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $background-color;
  color: $white-color;
  max-width: 1400px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

// MAIN APP
.main-app {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0rem 1rem;
  overflow: hidden;
}

// NAVBAR
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 100;
  position: sticky;
  top: 0;
  margin: 0 1rem;
  background-color: $background-color;

  .navbar-aside {
    width: auto;
    height: auto;

    img {
      width: 70px;
      height: auto;
      transition: transform 200ms ease-in-out;

      &:hover {
        @include hover-scale();
      }
    }
  }

  button {
    display: none;
  }

  .navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 60%;

    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;

      a {
        text-decoration: none;
        color: $white-color;
        transition: all 200ms ease;

        &:hover {
          @include hover-scale();
          color: $second-color;
        }
      }
    }

    .navbar-nav-social {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        color: $white-color;
        transition: all 200ms ease-in-out;

        &:hover {
          @include hover-scale();
          color: $second-color;
        }
      }
    }
  }
}

// HERO
.hero-container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;

  .hero-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;

    .hero-container-top-left {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 0rem;
      gap: 1rem;

      h1 {
        font-family: var(--font-dmSerifDisplay), sans-serif;
        font-size: 4rem;
        letter-spacing: 1px;

        span {
          color: $second-color;
          font-size: 3rem;
          display: block;
        }
      }

      p {
        line-height: 24px;
        margin: 0;
        width: 60%;
        flex-grow: 0;
        text-wrap: balance;
      }

      a {
        margin-top: 2rem;
        background-color: $background-color;
        color: $white-color;
        text-align: center;
        min-width: 25%;
        border: 2px solid $second-color;
        border-radius: 5rem;
        padding: 0.8rem 0;
        font-family: var(--font-arimo);
        transition: background-color 200ms ease-in-out;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background-color: $second-color;
        }
      }
    }

    .hero-container-top-right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;

      img {
        width: 440px;
        transition: all 200ms ease-in-out;

        &:hover {
          filter: grayscale(1);
          transform: scale(1.05);
        }
      }
    }
  }
}

// SECTIONS

.section-container {
  margin: 2rem 0;
  width: 100%;
  scroll-margin-top: 5rem;

  .section-title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// PROJECTS

.projects-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects-card {
  min-height: 300px;
  width: 100%;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgba($color: $black-color, $alpha: 0.1);
  border: 1px solid $border-card;
  box-shadow: 0px 10px $second-color;

  .projects-card-img {
    width: 30%;

    a {
      text-decoration: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .projects-card-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0;
    padding-left: 1rem;

    h3 {
      color: $second-color;
      letter-spacing: .5px;
      font-size: 1.4rem;
    }

    p {
      width: 80%;
      line-height: 24px;
      flex-grow: 1;
    }

    footer {
      width: 100%;
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        color: $third-color;
        transition: color 200ms ease-in-out;

        &:hover {
          color: $second-color;
        }
      }
    }
  }
}

// ABOUT ME
.about-me-container {
  background-color: rgba($color: $black-color, $alpha: 0.1);
  border: 1px solid $border-about-me;
  box-shadow: 0px 10px $third-color;
  border-radius: 0.5rem;
  padding: 1rem 0;

  p {
    margin: 0 auto;
    padding: .7rem 1rem;
    line-height: 24px;
    width: 50%;

    &:last-child {
      text-align: center;
    }

    span > a {
      color: $second-color;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

// FOOTER
.footer-container {
  background: linear-gradient(to left, $second-color, $third-color);
  border-radius: 0.5rem;
  width: 100%;
  height: 15rem;
  display: flex;
  margin-top: 5rem;

  .footer-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $background-color;
        text-decoration: none;
        gap: 0.5rem;
        transition: transform 200ms ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .footer-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 130px;
      height: auto;
      transition: transform 200ms ease-in-out;

      &:hover {
        @include hover-scale();
      }
    }
  }
}

@media (max-width: 768px) {
  // GENERAL
  a,
  p {
    font-size: .9rem;
  }

  // MAIN APP
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }

  // NAVBAR
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: $background-color;

    .navbar-aside {
      width: auto;
      height: auto;

      img {
        width: 50px;
        height: auto;
        transition: none;

        &:hover {
          transform: scale(1);
        }
      }
    }

    button {
      display: block;
      background-color: transparent;
      border: none;
      color: $white-color;
    }

    .navbar-nav {
      background-color: $background-color;
      width: 100%;
      position: fixed;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3rem;
      transition: transform 200ms ease-in-out;
      transform: translateX(100%);
      padding-top: 1rem;

      &.is-active {
        transform: translateX(0);
      }

      ul {
        width: 100%;
        padding: 0;
        margin: 1rem auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        a {
          text-decoration: none;
          font-weight: normal;
          color: $white-color;
          transition: none;

          &:hover {
            transform: scale(1);
            color: $white-color;
          }
        }
      }

      .navbar-nav-social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;

        a {
          color: $white-color;
          fill: $white-color;
          transition: none;

          &:hover {
            transform: scale(1);
            color: $white-color;
          }
        }
      }
    }
  }

  // HERO
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 6rem;

    .hero-container-top {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hero-container-top-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;

        h1 {
          font-family: var(--font-dmSerifDisplay), sans-serif;
          font-size: 2.3rem;
          letter-spacing: 1px;
          text-align: center;

          span {
            color: $second-color;
            font-size: 1.7rem;
            display: block;
          }
        }

        p {
          line-height: 22px;
          margin: 0;
          padding: 0 1rem;
          width: 100%;
          text-align: center;
        }

        a {
          background-color: $background-color;
          color: $white-color;
          text-align: center;
          min-width: 30%;
          border: 1px solid $second-color;
          border-radius: 5rem;
          padding: 0.8rem 1rem;
          font-family: var(--font-arimo);
          font-weight: normal;
          letter-spacing: 0px;
          font-size: 0.8rem;
          cursor: pointer;
          transition: none;

          &:hover {
            background-color: $background-color;
          }
        }
      }

      .hero-container-top-right {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
          width: 100%;
          max-width: 350px;
          transition: none;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }

  // SECTIONS

  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;

    .section-title {
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 1.1rem;
      }
    }
  }

  // PROJECTS

  .projects-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .projects-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba($color: $black-color, $alpha: 0.1);
    border: 1px solid $border-card;
    box-shadow: 0px 10px $second-color;

    .projects-card-img {
      width: 100%;

      a {
        text-decoration: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .projects-card-info {
      width: 100%;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;

      h3 {
        font-size: 1.1rem;
        color: $second-color;
      }

      p {
        width: 100%;
        line-height: 24px;
      }

      footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $third-color;
          transition: none;

          &:hover {
            color: $third-color;
          }
        }
      }
    }
  }

  // ABOUT ME
  .about-me-container {
    background-color: rgba($color: $black-color, $alpha: 0.1);
    border: 1px solid $border-about-me;
    box-shadow: 0px 10px $third-color;
    border-radius: 0.5rem;

    p {
      margin: 0.5rem auto;
      padding: 0.8rem 1rem;
      line-height: 24px;
      width: 100%;

      &:first-child, &:last-child {
        text-align: start;
      }

      span > a {
        color: $second-color;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  // FOOTER
  .footer-container {
    background: linear-gradient(to left, $second-color, $third-color);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0rem;
    padding: 2rem 0;

    .footer-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
          text-decoration: none;
          gap: 0.5rem;
          transition: none;

          &:hover {
            color: $white-color;
            transform: scale(1);
          }
        }
      }
    }

    .footer-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        height: auto;
        transition: none;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1023px) {

  // GENERAL
  a,
  p {
    font-size: 1rem;
  }

  // MAIN APP
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }

  // NAVBAR
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: $background-color;

    .navbar-aside {
      width: auto;
      height: auto;

      img {
        width: 50px;
        height: auto;
        transition: none;

        &:hover {
          transform: scale(1);
        }
      }
    }

    button {
      display: block;
      background-color: transparent;
      border: none;
      color: $white-color;
    }

    .navbar-nav {
      background-color: $background-color;
      width: 100%;
      position: fixed;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3rem;
      transition: transform 200ms ease-in-out;
      transform: translateX(100%);

      &.is-active {
        transform: translateX(0);
      }

      ul {
        width: 100%;
        padding: 0;
        margin: 1rem auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        a {
          text-decoration: none;
          font-weight: normal;
          color: $white-color;
          transition: none;

          &:hover {
            transform: scale(1);
            color: $white-color;
          }
        }
      }

      .navbar-nav-social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;

        a {
          color: $white-color;
          fill: $white-color;
          transition: none;

          &:hover {
            transform: scale(1);
            color: $white-color;
          }
        }
      }
    }
  }

  // HERO
.hero-container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 5rem;

  .hero-container-top {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;

    .hero-container-top-left {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: .5rem;
      padding: 1rem 0;

      h1 {
        font-family: var(--font-dmSerifDisplay), sans-serif;
        font-size: 2.7rem;
        letter-spacing: 1px;

        span {
          color: $second-color;
          font-size: 2rem;
          display: block;
        }
      }

      p {
        line-height: 22px;
        margin: 0;
        width: 50%;
      }

      a {
        background-color: $background-color;
        color: $white-color;
        text-align: center;
        min-width: 25%;
        border: 1px solid $second-color;
        border-radius: 5rem;
        padding: 0.7rem 0;
        font-family: var(--font-arimo);
        cursor: pointer;
        text-decoration: none;
        transition: none;

        &:hover {
          background-color: $background-color;
        }
      }
    }

    .hero-container-top-right {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;

      img {
        min-width: 250px;
        max-width: 250px;
        transition: none;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}

  // SECTIONS

  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;

    .section-title {
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 1.1rem;
      }
    }
  }

  // PROJECTS

  .projects-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .projects-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba($color: $black-color, $alpha: 0.1);
    border: 1px solid $border-card;
    box-shadow: 0px 10px $second-color;

    .projects-card-img {
      width: 100%;

      a {
        text-decoration: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .projects-card-info {
      width: 100%;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;

      h3 {
        font-size: 1.1rem;
        color: $second-color;
      }

      p {
        width: 100%;
        line-height: 22px;
      }

      footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $third-color;
          transition: none;

          &:hover {
            color: $third-color;
          }
        }
      }
    }
  }

  // ABOUT ME
  .about-me-container {
    background-color: rgba($color: $black-color, $alpha: 0.1);
    border: 1px solid $border-about-me;
    box-shadow: 0px 10px $third-color;
    border-radius: 0.5rem;

    p {
      margin: 0.5rem auto;
      padding: 0.8rem 1rem;
      line-height: 22px;

      span > a {
        color: $second-color;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  // FOOTER
  .footer-container {
    background: linear-gradient(to left, $second-color, $third-color);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0rem;
    padding: 2rem 0;

    .footer-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
          text-decoration: none;
          gap: 0.5rem;
          transition: none;

          &:hover {
            color: $white-color;
            transform: scale(1);
          }
        }
      }
    }

    .footer-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        height: auto;
        transition: none;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
