html {
  box-sizing: border-box;
  font-family: var(--font-arimo), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #0e0012;
  color: #ffffff;
  max-width: 1400px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.main-app {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0rem 1rem;
  overflow: hidden;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 100;
  position: sticky;
  top: 0;
  margin: 0 1rem;
  background-color: #0e0012;
}

.navbar-header .navbar-aside {
  width: auto;
  height: auto;
}

.navbar-header .navbar-aside img {
  width: 70px;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.navbar-header .navbar-aside img:hover {
  transform: scale(1.1);
}

.navbar-header button {
  display: none;
}

.navbar-header .navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: 60%;
}

.navbar-header .navbar-nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-header .navbar-nav ul a {
  text-decoration: none;
  color: #ffffff;
  transition: all 200ms ease;
}

.navbar-header .navbar-nav ul a:hover {
  transform: scale(1.1);
  color: #ec5cff;
}

.navbar-header .navbar-nav .navbar-nav-social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-header .navbar-nav .navbar-nav-social a {
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

.navbar-header .navbar-nav .navbar-nav-social a:hover {
  transform: scale(1.1);
  color: #ec5cff;
}

.hero-container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero-container .hero-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

.hero-container .hero-container-top .hero-container-top-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0rem;
  gap: 1rem;
}

.hero-container .hero-container-top .hero-container-top-left h1 {
  font-family: var(--font-dmSerifDisplay), sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.hero-container .hero-container-top .hero-container-top-left h1 span {
  color: #ec5cff;
  font-size: 2.5rem;
  display: block;
}

.hero-container .hero-container-top .hero-container-top-left p {
  line-height: 24px;
  margin: 0;
  width: 60%;
  flex-grow: 1;
}

.hero-container .hero-container-top .hero-container-top-left p span {
  display: block;
}

.hero-container .hero-container-top .hero-container-top-left a {
  background-color: #0e0012;
  color: #ffffff;
  text-align: center;
  min-width: 25%;
  border: 2px solid #ec5cff;
  border-radius: 5rem;
  padding: 0.8rem 0;
  font-family: var(--font-arimo);
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.hero-container .hero-container-top .hero-container-top-left a:hover {
  background-color: #ec5cff;
}

.hero-container .hero-container-top .hero-container-top-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.hero-container .hero-container-top .hero-container-top-right img {
  width: 380px;
  filter: grayscale(1);
  transition: all 200ms ease-in-out;
}

.hero-container .hero-container-top .hero-container-top-right img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.hero-container .hero-container-bottom {
  background: linear-gradient(to right, #ec5cff, #82e8cc);
  height: 5rem;
  width: 100%;
}

.section-container {
  margin: 2rem 0;
  width: 100%;
  scroll-margin-top: 5rem;
}

.section-container .section-title {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects-card {
  min-height: 300px;
  width: 100%;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #471b4d;
  box-shadow: 0px 10px #ec5cff;
}

.projects-card .projects-card-img {
  width: 30%;
}

.projects-card .projects-card-img a {
  text-decoration: none;
}

.projects-card .projects-card-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.projects-card .projects-card-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
  padding-left: 1rem;
}

.projects-card .projects-card-info h3 {
  color: #ec5cff;
  letter-spacing: .5px;
}

.projects-card .projects-card-info p {
  width: 80%;
  line-height: 24px;
  flex-grow: 1;
}

.projects-card .projects-card-info footer {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.projects-card .projects-card-info footer a {
  text-decoration: none;
  color: #82e8cc;
  transition: color 200ms ease-in-out;
}

.projects-card .projects-card-info footer a:hover {
  color: #ec5cff;
}

.about-me-container {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #00674c;
  box-shadow: 0px 10px #82e8cc;
  border-radius: 0.5rem;
  padding: 1rem 0;
}

.about-me-container p {
  margin: 0;
  padding: .7rem 1rem;
  line-height: 24px;
}

.about-me-container p span > a {
  color: #ec5cff;
  font-weight: bold;
  text-decoration: none;
}

.footer-container {
  background: linear-gradient(to left, #ec5cff, #82e8cc);
  border-radius: 0.5rem;
  width: 100%;
  height: 15rem;
  display: flex;
  margin-top: 5rem;
}

.footer-container .footer-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-info div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.footer-container .footer-info div a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0012;
  text-decoration: none;
  gap: 0.5rem;
  transition: transform 200ms ease-in-out;
}

.footer-container .footer-info div a:hover {
  transform: scale(1.05);
}

.footer-container .footer-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-logo img {
  width: 130px;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.footer-container .footer-logo img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  a,
  p {
    font-size: 0.9rem;
  }
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: #0e0012;
  }
  .navbar-header .navbar-aside {
    width: auto;
    height: auto;
  }
  .navbar-header .navbar-aside img {
    width: 50px;
    height: auto;
    transition: none;
  }
  .navbar-header .navbar-aside img:hover {
    transform: scale(1);
  }
  .navbar-header button {
    display: block;
    background-color: transparent;
    border: none;
    color: #ffffff;
  }
  .navbar-header .navbar-nav {
    background-color: #0e0012;
    width: 100%;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    transition: transform 200ms ease-in-out;
    transform: translateX(100%);
    padding-top: 1rem;
  }
  .navbar-header .navbar-nav.is-active {
    transform: translateX(0);
  }
  .navbar-header .navbar-nav ul {
    width: 100%;
    padding: 0;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .navbar-header .navbar-nav ul a {
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav ul a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .navbar-header .navbar-nav .navbar-nav-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  .navbar-header .navbar-nav .navbar-nav-social a {
    color: #ffffff;
    fill: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav .navbar-nav-social a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 6rem;
  }
  .hero-container .hero-container-top {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-container .hero-container-top .hero-container-top-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 {
    font-family: var(--font-dmSerifDisplay), sans-serif;
    font-size: 2.1rem;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 span {
    color: #ec5cff;
    font-size: 1.5rem;
    display: block;
  }
  .hero-container .hero-container-top .hero-container-top-left p {
    line-height: 22px;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
  }
  .hero-container .hero-container-top .hero-container-top-left p span {
    display: block;
  }
  .hero-container .hero-container-top .hero-container-top-left a {
    background-color: #0e0012;
    color: #ffffff;
    text-align: center;
    min-width: 30%;
    border: 1px solid #ec5cff;
    border-radius: 5rem;
    padding: 0.8rem 1rem;
    font-family: var(--font-arimo);
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-left a:hover {
    background-color: #0e0012;
  }
  .hero-container .hero-container-top .hero-container-top-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
  }
  .hero-container .hero-container-top .hero-container-top-right img {
    width: 80%;
    max-width: 300px;
    filter: grayscale(1);
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-right img:hover {
    filter: grayscale(1);
    transform: none;
  }
  .hero-container .hero-container-bottom {
    background: linear-gradient(to right, #ec5cff, #82e8cc);
    height: 3rem;
    width: 100%;
  }
  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;
  }
  .section-container .section-title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-container .section-title h2 {
    font-size: 1.1rem;
  }
  .projects-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  .projects-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #471b4d;
    box-shadow: 0px 10px #ec5cff;
  }
  .projects-card .projects-card-img {
    width: 100%;
  }
  .projects-card .projects-card-img a {
    text-decoration: none;
  }
  .projects-card .projects-card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .projects-card .projects-card-info {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
  .projects-card .projects-card-info h3 {
    font-size: 1.1rem;
    color: #ec5cff;
  }
  .projects-card .projects-card-info p {
    width: 100%;
    line-height: 22px;
  }
  .projects-card .projects-card-info footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .projects-card .projects-card-info footer a {
    text-decoration: none;
    color: #82e8cc;
    transition: none;
  }
  .projects-card .projects-card-info footer a:hover {
    color: #82e8cc;
  }
  .about-me-container {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #00674c;
    box-shadow: 0px 10px #82e8cc;
    border-radius: 0.5rem;
  }
  .about-me-container p {
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    line-height: 22px;
  }
  .about-me-container p span > a {
    color: #ec5cff;
    font-weight: bold;
    text-decoration: none;
  }
  .footer-container {
    background: linear-gradient(to left, #ec5cff, #82e8cc);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0rem;
    padding: 2rem 0;
  }
  .footer-container .footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-info div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer-container .footer-info div a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    gap: 0.5rem;
    transition: none;
  }
  .footer-container .footer-info div a:hover {
    color: #ffffff;
    transform: scale(1);
  }
  .footer-container .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-logo img {
    width: 80px;
    height: auto;
    transition: none;
  }
  .footer-container .footer-logo img:hover {
    transform: scale(1);
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  a,
  p {
    font-size: 0.9rem;
  }
  .main-app {
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0rem 1rem;
    overflow: hidden;
  }
  .navbar-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    z-index: 100;
    margin: 0;
    padding: 0 1rem;
    background-color: #0e0012;
  }
  .navbar-header .navbar-aside {
    width: auto;
    height: auto;
  }
  .navbar-header .navbar-aside img {
    width: 50px;
    height: auto;
    transition: none;
  }
  .navbar-header .navbar-aside img:hover {
    transform: scale(1);
  }
  .navbar-header button {
    display: block;
    background-color: transparent;
    border: none;
    color: #ffffff;
  }
  .navbar-header .navbar-nav {
    background-color: #0e0012;
    width: 100%;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    transition: transform 200ms ease-in-out;
    transform: translateX(100%);
  }
  .navbar-header .navbar-nav.is-active {
    transform: translateX(0);
  }
  .navbar-header .navbar-nav ul {
    width: 100%;
    padding: 0;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .navbar-header .navbar-nav ul a {
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav ul a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .navbar-header .navbar-nav .navbar-nav-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  .navbar-header .navbar-nav .navbar-nav-social a {
    color: #ffffff;
    fill: #ffffff;
    transition: none;
  }
  .navbar-header .navbar-nav .navbar-nav-social a:hover {
    transform: scale(1);
    color: #ffffff;
  }
  .hero-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 5rem;
  }
  .hero-container .hero-container-top {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
  }
  .hero-container .hero-container-top .hero-container-top-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;
    padding: 1rem 0;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 {
    font-family: var(--font-dmSerifDisplay), sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  .hero-container .hero-container-top .hero-container-top-left h1 span {
    color: #ec5cff;
    font-size: 1.8rem;
    display: block;
  }
  .hero-container .hero-container-top .hero-container-top-left p {
    line-height: 22px;
    margin: 0;
    width: 50%;
  }
  .hero-container .hero-container-top .hero-container-top-left p span {
    display: block;
  }
  .hero-container .hero-container-top .hero-container-top-left a {
    background-color: #0e0012;
    color: #ffffff;
    text-align: center;
    min-width: 25%;
    border: 1px solid #ec5cff;
    border-radius: 5rem;
    padding: 0.7rem 0;
    font-family: var(--font-arimo);
    cursor: pointer;
    text-decoration: none;
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-left a:hover {
    background-color: #0e0012;
  }
  .hero-container .hero-container-top .hero-container-top-right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
  }
  .hero-container .hero-container-top .hero-container-top-right img {
    min-width: 240px;
    max-width: 240px;
    filter: grayscale(1);
    transition: none;
  }
  .hero-container .hero-container-top .hero-container-top-right img:hover {
    filter: grayscale(1);
    transform: scale(1);
  }
  .hero-container .hero-container-bottom {
    background: linear-gradient(to right, #ec5cff, #82e8cc);
    height: 3rem;
    width: 100%;
  }
  .section-container {
    margin: 2rem auto;
    width: 100%;
    scroll-margin-top: 5rem;
  }
  .section-container .section-title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-container .section-title h2 {
    font-size: 1.1rem;
  }
  .projects-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  .projects-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #471b4d;
    box-shadow: 0px 10px #ec5cff;
  }
  .projects-card .projects-card-img {
    width: 100%;
  }
  .projects-card .projects-card-img a {
    text-decoration: none;
  }
  .projects-card .projects-card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .projects-card .projects-card-info {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
  .projects-card .projects-card-info h3 {
    font-size: 1.1rem;
    color: #ec5cff;
  }
  .projects-card .projects-card-info p {
    width: 100%;
    line-height: 22px;
  }
  .projects-card .projects-card-info footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .projects-card .projects-card-info footer a {
    text-decoration: none;
    color: #82e8cc;
    transition: none;
  }
  .projects-card .projects-card-info footer a:hover {
    color: #82e8cc;
  }
  .about-me-container {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #00674c;
    box-shadow: 0px 10px #82e8cc;
    border-radius: 0.5rem;
  }
  .about-me-container p {
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    line-height: 22px;
  }
  .about-me-container p span > a {
    color: #ec5cff;
    font-weight: bold;
    text-decoration: none;
  }
  .footer-container {
    background: linear-gradient(to left, #ec5cff, #82e8cc);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0rem;
    padding: 2rem 0;
  }
  .footer-container .footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-info div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer-container .footer-info div a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    gap: 0.5rem;
    transition: none;
  }
  .footer-container .footer-info div a:hover {
    color: #ffffff;
    transform: scale(1);
  }
  .footer-container .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container .footer-logo img {
    width: 80px;
    height: auto;
    transition: none;
  }
  .footer-container .footer-logo img:hover {
    transform: scale(1);
  }
}
